<div class="bg-white rounded-lg shadow overflow-hidden" id="{{ id }}">
    <a href="{{ url }}">
        <img src="{{ image }}" alt="Nike Air Zoom Vapor Pro" class="w-full h-48 object-cover">
    </a>
    <div class="p-4">
        <a href="{{ url }}">
            <h3 class="text-lg font-semibold text-gray-900">{{ title }}</h3>
        </a>
        <p class="mt-1 text-gray-500">{{ description }}</p>
        <div class="mt-4 flex items-center justify-between">
            <span class="text-xl font-bold text-gray-900">{{ price }}</span>
            <button
                    class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700"
                    {# START DATASTAR ATTRIBUTES #}
                    {# when this button is clicked, we show the cart. This calls the template in _datastar/show-cart, which in turn includes the _components/cart-contents.twig #}
                    {# Items whose IDs are contained in the fragments in the _datastar/show-cart twig get replaced  #}
                    {# Note that we are passing variables directly into the twig component. No need to use signals if we can pass this way #}
                    data-on-click="{{ datastar.get('_datastar/show-cart', {id: id, operation: 'add'}) }}"
            >Add to Cart</button>
        </div>
    </div>
</div>